<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eprezencka - Aktívne udalosti</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
</head>
<body>
<div th:insert="Components/menu.html"></div>
<div class="container">
    <h1>Aktívne udalosti</h1>
    <p>
        <br>V tomto zozname môžeme vidieť aktuálne akcie.
        <br>V prípade, že vašu akciu nevidíte a prebieha kontaktujte technickú podporu alebo autora akcie
    </p>
    <div th:if="${activeEvents.size() > 0}">
        <table class="table">
        <th scope="col">Názov udalosti</th>
        <th scope="col">Miestnosť</th>
        <tr th:each="event: ${activeEvents}" th:object="${event}">

            <td th:text="${event.name}"/>
            <td th:text="${event.miestnost}"/>
        </tr>

    </table>
    </div>
    <div th:if="${activeEvents.size() == 0}">
        <p>
            <b>Momentálne neprebieha žiadna udalosť</b>
        </p>

    </div>

    <!--    <h3><a th:href="@{/users}">List of Users</a></h3>-->
    <!--    <h3><a th:href="@{/register}">Register</a></h3>-->
    <!--    <h3><a th:href="@{/login}">Login</a></h3>-->
</div>

</body>
</html>