<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eprezencka - vytvorenie eventu</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">-->
<!--    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>-->
<!--    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>-->
</head>
<body>
<div th:insert="Components/menu.html"></div>
<div class="container">
    <h1>Vytvorenie novej udalosti</h1>
    <form method="post" th:action="@{/saveNewEvent}" th:object="${event}">

        <label>
            Názov udalosti:
            <input type="text" th:field="*{name}">
        </label>
        <br>
        <label>
            Miestnosť konania:
            <input type="text" th:field="*{miestnost}">
        </label>
        <br>

        <select th:field="*{verejny}">
            <option th:value="${true}" th:text="Verejny"></option>
            <option th:value="${false}" th:text="Sukromny"></option>
        </select>


        <input type="submit" class="btn btn-success" value="Odoslať">

    </form>
    <!--    <h3><a th:href="@{/users}">List of Users</a></h3>-->
    <!--    <h3><a th:href="@{/register}">Register</a></h3>-->
    <!--    <h3><a th:href="@{/login}">Login</a></h3>-->
</div>

</body>
</html>